* {
          margin: 0;
          padding: 0;
          user-select: none;
}

body {
          text-transform: uppercase;
          font-family: "VIM SM";
          background: pink;
}

a {
          text-decoration: inherit;
          color: inherit;
}

h1 {
          font-size: calc(50px + 5vw);
          color: pink;
          top: .7em;
          width: 100vw;
          text-align: center;
          position: fixed;
          left: 0;
          span {
                    background: white;
          }
}

#bg {
          img {
                    width: 100vw;
                    min-height: 100vh;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
          }
}

nav {
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1200px) {
                    text-align: right;
                    a {
                              color: black;
                              text-shadow: white 4px 4px 0px;
                              padding-bottom: 15px;
                              font-size: calc(20px + 2vw);
                    }
          }
          @media screen and (min-width: 1200px) {
                    text-align: left;
                    a {
                              font-size: 50px;
                              background: white;
                              margin: 10px;
                              line-height: .8;
                              &:hover {
                                        background: black;
                                        color: pink;
                              }
                    }
          }
          position: fixed;
          top: 60%;
          right: 30px;
}

main {
          display: none;
          @media screen and (min-width: 600px) {
                    display: block;
                    width: 40vw;
                    position: absolute;
                    top: 400px;
                    left: 10vw;
                    background: rgba(0, 0, 0, .5);
                    color: white;
                    padding: 20px;
                    height: 100vh;
                    z-index: -1;
                    a {
                              text-decoration: underline;
                    }
          }
}
